html {
    color: $color-primary;
    font-size: 1em;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: -0.3px;
    scroll-behavior: smooth;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    background-image: linear-gradient(
        0deg,
        hsl(41deg 100% 96%) 0%,
        hsl(41deg 100% 98%) 50%,
        hsl(0deg 0% 100%) 100%
        );
    min-height: 100%;
    background-attachment: scroll;
}

main {
    @extend .width;
    @extend .clearfix;
    text-align: center;
}

.app-icon {
    width: 128px;
    margin: 0 auto;
    padding: 4em 0;

    img {
        display: inline-block;
        width: 100%;
        height: auto;
    }

}

.intro {

    .about {
        font-size: 1.5em;
    }

    .brag {
        font-style: italic;
    }
}

.reviews {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 4em 0;

    .review {

        ul {
            @extend .flex-ul;
        }

        li {
            padding-left: 0.25em;
            padding-right: 0.25em;
        }
    
        img {
            width: 20px;
            height: 20px;
        }
    }
}

.screenshots {
    position: relative;
    @extend .clearfix;
    max-width: 400px;
    margin: 0 auto;

    .left, 
    .right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .left {
        left: -50%;
        transform: rotate(-7deg);
    }

    .right {
        left: 50%;
        transform: rotate(7deg);
    }

    img {
        max-width: 100%;
        height: auto;
    }

    .center {
        z-index: 1;
    }

} 

.download {
    margin: 4em 0;
    
    .qr-code {
        @media screen and (max-width: $breakpoint-small) {
            display: none;
        }
    }
    
    .app-store-button {
        @media screen and (min-width: $breakpoint-small) {
            display: none;
        }
    }

}

footer {

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}